<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>

   <body>
      <div class="container">
         <h1>Event Challenge Backend</h1>
          <div class="mytext">
            <p><strong>GET events's list: </strong><code><a>https://event-backend-nodejs.glitch.me/list</a></code></p>
          </div>
          <br/>
          <div class="mytext">
            <p><strong>POST an Event: </strong><code><a>https://event-backend-nodejs.glitch.me/save</a></code></p>
            <p><code>{<br/>
                firstName: 'Aris',<br/>
                lastName: 'Tchoukoualeu',<br/>
                email: 'aristchoukn@example.com',<br/>
                date: '2021-10-10T00:00:00.000Z'<br/>
              }</code></p>
          </div>
      </div>
   </body>

</html>
